/* h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-style: italic;
}

button{
    display: flex;
  font-size: 20px;
  color: red;
  cursor: pointer;
}
ul{
    font-size: 20px;
    color:greenyellow ;
} */